_design
.dist
.dockerignore
.editorconfig
.env
.git
.gitattributes
.husky
.idea
.next
.pnp.cjs
.pnp.loader.mjs
.storybook
.vscode
.yarn
*.log
*.mdx
*.stories.*
*.story.*
CONTRIBUTING.md
dist
Dockerfile
node_modules
npm-debug.log
readme_materials
README.md